/*-------------------------------------------------------------- # General Section --------------------------------------------------------------*/
 body {
     font-family: Arial, sans-serif;
}
 #results {
     text-align: center;
}
 :root {
     --grid-cols: 1;
     --grid-rows: 1;
}
 .section {
     overflow: hidden;
     position: relative;
     padding: 2% 0;
     margin-bottom: 0;
}
 .section:before {
     background: rgba(6, 12, 34, 0.8);
     position: absolute;
     bottom: 0;
     top: 0;
     left: 0;
     right: 0;
}
/*-------------------------------------------------------------- # Air Section --------------------------------------------------------------*/
 #air {
     padding: 2% 0;
}
/*-------------------------------------------------------------- # Options Section --------------------------------------------------------------*/
 #options .options-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     padding: 0 20%;
}
 form {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 0% 30%;
}
 .hidden {
     display: none;
}
/*-------------------------------------------------------------- # Results Section --------------------------------------------------------------*/
 .disable-dbl-tap-zoom {
     touch-action: manipulation;
}
 #resCon{
     display: flex;
     flex-direction: column-reverse;
}
 .row-container{
     justify-content: space-between;
     align-items: center;
     flex-direction: column-reverse;
}
 .image-row{
     justify-content: space-between;
     align-items: center;
}
 .image-row img {
     max-width: 20%;
     height: auto;
     margin: 0.5em;
}
 .blur {
     filter: brightness(4%) blur(0.5em);
}
/*-------------------------------------------------------------- # Buttons Section --------------------------------------------------------------*/
 .button-container{
     text-align: center;
     width: 100%;
}
 #roll-dice, #reset {
     width: 45%;
     display: inline-block;
}
/* Button styles */
 .btn {
     display: inline-block;
     padding: 1em 2em;
     font-size: 1.2em;
     font-weight: 600;
     text-align: center;
     text-decoration: none;
     white-space: nowrap;
     border-radius: 0.2em;
     transition: all 0.2s ease-in-out;
}
/* Primary button styles */
 .btn-primary {
     color: white;
     border: none;
}
/* Roll Dice button styles */
 .roll-dice {
     background-color: #007bff;
     margin-right: 1em;
}
/* Reset button styles */
 .reset {
     background-color: #dc3545;
}
/* Buttons container styles */
 .button-container {
     display: flex;
     justify-content: center;
}
 @media (max-width: 768px) {
     .section {
         padding: 5% 5%;
    }
     #air {
         padding: 5% 0;
    }
     form {
         flex-wrap: nowrap;
         flex-direction: column;
         padding: 0% 0%;
    }
     #options .options-container {
         padding: 5% 0%;
    }
}
 